@import "../utils/variables";
@import "../utils/prefixer";

@mixin max-width($width: 1024px) {
    max-width: $width;
    margin: 0 auto;
}

@mixin min-width($width: 320px) {
    min-width: $width;
}

@mixin inline-block($align: auto) {
    display: inline-block;
    vertical-align: $align;
}

/**
* 1px细线
* border-width-1px(top,right,bottom,left, border-color, border-radius);
* top,right,bottom,left 值为 1 或者 0;
*/
@mixin border-width-1px($border-width-top: 0, $border-width-right: 0, $border-width-bottom: 0, $border-width-left: 0, $border-color: $g-bordercolor, $border-radius: 0){
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-color: $border-color;
        border-width: #{$border-width-top}px #{$border-width-right}px #{$border-width-bottom}px #{$border-width-left}px;
        border-style: solid;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        -webkit-transform-origin: 0 0;
        pointer-events: none;
        @include prefix(box-sizing, border-box);
        @if $border-radius != 0{
            @include prefix(border-radius, $border-radius);
        }
    }
}

@mixin translate($left: 0,$top: 0) {
    -webkit-transform:translate($left,$top);  //临时使用，后续修正
    transform:translate($left,$top);          //临时使用，后续修正
}
