@import "../../../styles/utils/mixins";

.m-categories{
	width: 100%;

	.category{
		display: flex;
		display:-webkit-flex;
		flex-flow: row wrap;
		// justify-content:space-around;
		align-content: flex-start;
	    width: 100%;
	    padding: 0 .15rem;

		.item{
			flex: 0 0 2.1rem;
			margin: .3rem .15rem 0;
			height: 3.5rem;
			text-align: center;
			background-color: #fff;
			@include border-width-1px(1,1,1,1,#bcbec1, .04rem);
		}
	}
}