/*
 * 书架页
*/
@import "../utils/placeholders";

.discover{

}

.m-categories{

	>.title{
		margin-top: .18rem;
		font-size: .36rem;
		line-height: .96rem;
		text-align: center;
	}

	.category{

		.item{

			.title{
				@extend %ellipsis;
				width: 100%;
				height: .96rem;
				font-weight: 200;
				line-height: .96rem;
			}

			.img-box{
				height: 0;
			    padding: 0 .16rem 60%;
    			overflow: hidden;

			}

			.subscribe{
				margin-top: .4rem;
			    height: .48rem;
			    font-size: .26rem;
			    line-height: .48rem;
			}
		}
	}
}