body{
	background: #ebebeb;
}

.user{
	height: 100%;
	padding-bottom: .1rem;
	padding-top: 1px;// fixbug

	.m-catalog-list {
		background: #fff;

		+ .m-catalog-list {
			margin-top: .3rem;
		}

		.iconfont {
			font-size: .5rem;
		}
	}
}