
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_tqgiwfz75zgaxlxr.eot?t=1487992881512'); /* IE9*/
  src: url('//at.alicdn.com/t/font_tqgiwfz75zgaxlxr.eot?t=1487992881512#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_tqgiwfz75zgaxlxr.woff?t=1487992881512') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_tqgiwfz75zgaxlxr.ttf?t=1487992881512') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_tqgiwfz75zgaxlxr.svg?t=1487992881512#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group-fill:before { content: "\e745"; }

.icon-group:before { content: "\e746"; }

.icon-home-fill:before { content: "\e750"; }

.icon-home:before { content: "\e751"; }

.icon-user-fill:before { content: "\e75d"; }

.icon-user:before { content: "\e75e"; }

.icon-to-top:before { content: "\e76c"; }

.icon-book:before { content: "\e78f"; }

.icon-install:before { content: "\e6e7"; }

.icon-follow:before { content: "\e703"; }

.icon-collection:before { content: "\e704"; }

.icon-book-fill:before { content: "\e601"; }
